@import '~antd/dist/antd.css';
@import './assets/styles/common.scss';
@import './assets/styles/normalize.css';
* {
    padding: 0;
    margin: 0;
}

.Home {
    width: 100vw;
    height: 100vh;
    color: yellow;
    display: flex;
    .tabbar {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 80px;
        background: #dfdfdf;
        display: flex;
        font-size: 30px;
        .tabbar-item {
            flex: 1;
            @extend .dc;
        }
    }
}